<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form novalidate #note="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating"> Add user </ion-label>
        <ion-input [(ngModel)]="user" type="email" name="user" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating"> Add Pass </ion-label>
        <ion-input [(ngModel)]="pass" type="passwords" name="pass" required></ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-button (click)="save(note.value)" class="ion-margin-top" color="primary">
          Add
        </ion-button>
      </div>  
    </ion-list>
  </form>

  <ion-list *ngIf="items">
    <ion-item-sliding *ngFor="let item of items | async">
      <ion-item (click)="select(item)">
        <ion-label>

          <ion-text color="primary">
             <h2>Username : {{item.note.user}}</h2>
          </ion-text>
        <h3> Password : {{item.note.pass}}</h3>
      </ion-label>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="danger" (click)="delete(item)">
          <ion-icon slot="end" name="trash"></ion-icon>
          Delete Data
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>

