@font-face{
    font-family: Mitr;
    src: url('../assets/font/Mitr-Medium.ttf') format('ttf');
  }
  
  *{
    font-family: Mitr;
  }

  .selector {
    -webkit-box-shadow: 0 3px 5px #333;
    -moz-box-shadow: 0 3px 5px #333;
    box-shadow: 0 3px 5px #333;
    }
    
    .selector.noshadow {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      }